@import 'logo.css';

body {
  background-color: #111;
  color: #feb308;
  font-family: "anonymous-pro",monospace;
}

a {
  color: #feb308;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.header {
  padding: 8vw 0 0;
  background: #222 url(/img/hackerscity.gif) no-repeat center top;
  background-size: 100% auto;
  color: #fff;
  text-align: center;
}

.header #worker path {
  fill: #fff;
}
.header .about {
  margin-top: 4vw;
  padding: 2vw 0;
  color: #feb308;
  background-color: #111;
}
.cheesy-one-liner {
  text-align: center;
  font-family: "brandon-grotesque", 'Helvetica Neue', helvetica, sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  margin: 0;
}
.cheesy-one-liner .intersection {
  font-family: serif;
}
.header .actions {
  margin: 0;
  padding: 1em;
  background-color: #222;
}
.header .action {
  display: inline-block;
  font-style: italic;
}
.header .action-link {
  display: block;
  padding: 1vw;
}
.header .action-link:hover {
  color: #fff;
  text-decoration: none;
}

.content {
  line-height: 1.35;
}
.content .soon {
  text-align: center;
  font-size: 3em;
  margin: 1em 0;
  text-transform: uppercase;
  font-family: "brandon-grotesque", 'Helvetica Neue', helvetica, sans-serif;
  font-weight: 600;
  font-style: italic;
}
.interior {
  max-width: 640px;
  margin: 0 auto;
}

.episodes {
  width: 100%;
}
.episode {
  background-color: #fff;
  color: #111;
  padding: 2em;
}
.episode-title {
  font-family: "brandon-grotesque", 'Helvetica Neue', helvetica, sans-serif;
  font-size: 2.5em;
  text-rendering: optimizeLegibility;
}
.episode-link {
  color: #000;
  padding-bottom: 4px;
  border-bottom: 1px solid #111;
  display: block;
  margin-left: 80px;
}
.episode-icon {
  width: 64px;
  height: 64px;
  float: left;
}
.episode-link:hover {
  text-decoration: none;
}
.episode .summary {
  display: block;
  color: #111;
  text-decoration: none;
}
.episode-footer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: baseline;
  align-items: baseline;
}
.episode-footer a, .episode-footer button.link {
  color: #999;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  display: block;
}
.episode-footer a:hover, .episode-footer button.link:hover {
  color: #000;
  text-decoration: none;
}
.episode-actions {
  margin: 0;
  padding: 0;
}
.episode-action {
  display: inline-block;
  vertical-align: middle;
  padding-right: 0.5em;
  border-right: 1px solid #999;
}
.episode-action:last-of-type {
  border-right: none;
  padding-right: 0;
}
.audio-player {
  clear: both;
  width: 100%;
  margin-top: 1em;
}
.audio-error {
  font-family: "brandon-grotesque", 'Helvetica Neue', helvetica, sans-serif;
}

.footer {
  padding: 5vw 3vw;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.footer .attribution {
  list-style: none;
  padding: 0;
  text-align: right;
  line-height: 1.5;
  font-size: 0.8em;
}

@media (max-width: 840px) {
  .footer {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .footer .attribution { text-align: left; }
}

@media (max-width: 650px) {
  .header { background-size: auto 100%; }
  .header .icon, .header .logo { display: block; }
  .header .logo { text-align: inherit; }
}

@media (max-width: 520px) {
  .header { font-size: 10px; }
  .header .about, .header .actions { font-size: 12px; }
  .episode { font-size: 12px; }
  .episode-title { font-size: 1.5em; }
  .episode-icon {
    width: 36px;
    height: 36px;
  }
  .episode-link { margin-left: 48px; }
  .footer .attribution { font-size: 12px; }
}

@media(max-width: 420px) {
  .cheesy-one-liner { font-size: 1.85em; }
}

