body {
  font-family: "brandon-grotesque", 'Helvetica Neue', helvetica, sans-serif;
  color: #dfdfdf;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover { 
  background: rgba(0, 0, 0, 0.45);
}


#splash {
  background: black url(/img/hackerscity.gif) no-repeat;
  background-size: auto 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.logo {
  color: #fff;
  font-size: 8em;
  width: 5em;
  font-family: "brandon-grotesque", 'Helvetica Neue', helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 1;
  display: inline-block;
}

.icon {
  margin: 8em 0;
  display: inline-block;
}

.cheesy-one-liner {
  font-weight: 100;
  font-size: 4em;
  margin: 0.25em 0;
}
.teaser {
  text-align: center;
  font-size: 1.75em;
  font-weight: 100;
}
.teaser strong { 
  font-weight: 500;
  text-transform: uppercase; 
}

#worker {
  width: 12em;
  height: 12em;
}

#worker path {
  fill: #fff;
}

#worker .gear {
  -webkit-animation: rotating-gear 60s infinite linear;
}

@-webkit-keyframes rotating-gear {
  from {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: center;
  }

  to {
    -webkit-transform: rotate(360deg);
    -webkit-transform-origin: center;
  }
}


