<!DOCTYPE html>
<html id="abstract-factory">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }} {% if page.title %}| {{page.title}}{% endif %}</title>
        <meta name="viewport" content="width=device-width">

        <script type="text/javascript" src="//use.typekit.net/oxk0ozs.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <header class="header">
            {% include logo.html %}
            <div class="about">
              <p class="what-do">
                An episodic audio series available via web syndication.<sup class="note"><a href="http://en.wikipedia.org/wiki/Podcast">1</a></sup>
              </p>
              <p class="authors">
                By <a href="https://twitter.com/ckolderup">@ckolderup</a> and <a href="https://twitter.com/markwunsch">@markwunsch</a>.
              </p>
            </div>
            <ul class="actions">
              <li class="action">
                <a href="/feeds.html" class="rss-action action-link"><i class="fa fa-rss fa-lg"></i> RSS</a>
              </li>
              {% comment %} <li class="action"> {% endcomment %}
              {% comment %}   <a href="/itunes.html" class="itunes-action action-link"><i class="fa fa-music fa-lg"></i> iTunes</a> {% endcomment %}
              {% comment %} </li> {% endcomment %}
              <li class="action">
                <a href="https://twitter.com/podcastimpl" class="twitter-action action-link"><i class="fa fa-twitter fa-lg"></i> @PodcastImpl</a>
              </li>
            </ul>
        </header>

        <div class="content episodes">
          {{ content }}
        </div>

        <footer class="footer">
          <ul class="attribution">
            <li class="license"><a href="http://thenounproject.com/term/worker/21576/">Worker designed by Piotrek Chuchla from the Noun Project</a></li>
            <li class="license"><a href="http://game-icons.net/">Other icons from game-icons.net</a></li>
            <li class="license">Music by <a href="http://hear.novasolus.com/">Nova Solus</a> and <a href="http://musicbyjt.com/">Voobr</a></li>
          </ul>
          <p class="cheesy-one-liner">Technology <span class="intersection">&cap;</span> Creativity</p>
        </footer>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
           m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
           })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-48353846-1', 'abstractfactory.tv');
          ga('send', 'pageview');
        </script>
    </body>
</html>
